streamlit
torch==2.2.2
torchvision==0.17.2
timm
matplotlib
seaborn
lime
scikit-image
git+https://github.com/jacobgil/pytorch-grad-cam.git@master
huggingface-hub
scipy
numpy<2
pandas
Pillow
opencv-python-headless